@import '../../assets/theme/variables';

.MuiFab-root.login-buton {
  color: #825542;
  font-weight: 700;
}

.MuiFab-root.finalizar-button:hover {
  background-color: #f5a800;
  color: #fff;
}

.finalizar-label {
  padding: 0px 20px;
}
