body {
  margin: 0;
  padding: 0;
  font-family: 'Scout', sans-serif;
  background: #f5f5f5;
}

.box {
  border-radius: 15px;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0a73c1;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type='email'],
.box input[type='password'] {
  border: 0;
  background-color: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #035eb4;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #757575;
  border-radius: 15px;
  transition: 0.3s;
  font-weight: bold;
}

.box input[type='email']:focus,
.box input[type='password']:focus {
  border-color: #f3db09;
}

.box button {
  font-weight: bold;
  background-color: #f3db09;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: #757575;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.box button:hover {
  border: 2px solid #035eb4;
  background: white;
  color: #035eb4;
}

.box button:disabled {
  background-color: #fbec5d;
  color: #757575;
}
